.prgh-x,
.prgh-video {
    .prgh-video-info {
        padding: 15px;
        font-size: .8rem;
        h3 {
            font-size: 1rem;
            margin: 10px;
        }
        p {
            margin: 10px 0;
        }
        button {
            font-size: .8rem;
        }
    }
}