@font-face {
  font-family: 'Gentil';
  src:  url('fonts/Gentil.eot?shox9y');
  src:  url('fonts/Gentil.eot?shox9y#iefix') format('embedded-opentype'),
    url('fonts/Gentil.ttf?shox9y') format('truetype'),
    url('fonts/Gentil.woff?shox9y') format('woff'),
    url('fonts/Gentil.svg?shox9y#Gentil') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="i-gntl--"], [class*=" i-gntl--"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Gentil' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-gntl--vpn_key:before {
  content: "\ea07";
}
.i-gntl--filter_1:before {
  content: "\e9ab";
}
.i-gntl--filter_2:before {
  content: "\e9fc";
}
.i-gntl--filter_3:before {
  content: "\e9fd";
}
.i-gntl--filter_4:before {
  content: "\e9fe";
}
.i-gntl--filter_5:before {
  content: "\e9ff";
}
.i-gntl--filter_6:before {
  content: "\ea00";
}
.i-gntl--filter_7:before {
  content: "\ea01";
}
.i-gntl--filter_8:before {
  content: "\ea02";
}
.i-gntl--filter_9:before {
  content: "\ea03";
}
.i-gntl--wb_sunny:before {
  content: "\ea04";
}
.i-gntl--search:before {
  content: "\e9ad";
}
.i-gntl--imagesearch_roller:before {
  content: "\e9fa";
}
.i-gntl--saved_search:before {
  content: "\e9fb";
}
.i-gntl--nights_stay:before {
  content: "\ea05";
}
.i-gntl--bedtime:before {
  content: "\ea06";
}
.i-gntl--node_list:before {
  content: "\e9f2";
}
.i-gntl--menu_term:before {
  content: "\e9f3";
}
.i-gntl--save:before {
  content: "\e9ac";
}
.i-gntl--texte:before {
  content: "\e9ed";
}
.i-gntl--sondage:before {
  content: "\e9f9";
}
.i-gntl--insert_emoticon1:before {
  content: "\e9c7";
}
.i-gntl--vertical_align_bottom1:before {
  content: "\e9d6";
}
.i-gntl--vertical_align_top:before {
  content: "\e9d7";
}
.i-gntl--text_fields1:before {
  content: "\e9ee";
}
.i-gntl--title:before {
  content: "\e9ef";
}
.i-gntl--container:before {
  content: "\e9f4";
}
.i-gntl--cloud_upload:before {
  content: "\e9ae";
}
.i-gntl--file_upload:before {
  content: "\e9c6";
}
.i-gntl--collections:before {
  content: "\e9f5";
}
.i-gntl--filter_vintage:before {
  content: "\e9c8";
}
.i-gntl--leak_add:before {
  content: "\e9c9";
}
.i-gntl--local_florist:before {
  content: "\e9ca";
}
.i-gntl--rate_review:before {
  content: "\e9cb";
}
.i-gntl--unfold_less:before {
  content: "\e9d8";
}
.i-gntl--unfold_more:before {
  content: "\e9d9";
}
.i-gntl--sentiment_very_dissatisfied:before {
  content: "\e9cc";
}
.i-gntl--sentiment_very_satisfied:before {
  content: "\e9cd";
}
.i-gntl--thumb_down_alt:before {
  content: "\e9ce";
}
.i-gntl--thumb_up_alt:before {
  content: "\e9cf";
}
.i-gntl--code:before {
  content: "\e9da";
}
.i-gntl--highlight_remove:before {
  content: "\e9d0";
}
.i-gntl--info:before {
  content: "\e9e8";
}
.i-gntl--info_outline:before {
  content: "\e9e9";
}
.i-gntl--note_add:before {
  content: "\e9ea";
}
.i-gntl--swap_horiz:before {
  content: "\e9db";
}
.i-gntl--swap_vert:before {
  content: "\e9dc";
}
.i-gntl--onglets:before {
  content: "\e9f7";
}
.i-gntl--onglet:before {
  content: "\e9f8";
}
.i-gntl--trending_neutral:before {
  content: "\e9dd";
}
.i-gntl--compare_arrows:before {
  content: "\e9de";
}
.i-gntl--timeline:before {
  content: "\e9df";
}
.i-gntl--speaker_notes_off:before {
  content: "\e9d1";
}
.i-gntl--accordion:before {
  content: "\e9f0";
}
.i-gntl--split-vertical:before {
  content: "\e9f1";
}
.i-gntl--drive_folder_upload:before {
  content: "\e9eb";
}
.i-gntl--thumb_down_off_alt1:before {
  content: "\e9d2";
}
.i-gntl--thumb_up_off_alt:before {
  content: "\e9d3";
}
.i-gntl--upload_file:before {
  content: "\e9ec";
}
.i-gntl--height:before {
  content: "\e9e0";
}
.i-gntl--volunteer_activism:before {
  content: "\e9d4";
}
.i-gntl--add_road:before {
  content: "\e9e1";
}
.i-gntl--addchart:before {
  content: "\e9e2";
}
.i-gntl--alt_route:before {
  content: "\e9e3";
}
.i-gntl--auto_awesome:before {
  content: "\e9e4";
}
.i-gntl--auto_fix_high:before {
  content: "\e9e5";
}
.i-gntl--local_police:before {
  content: "\e9d5";
}
.i-gntl--location_pin:before {
  content: "\e9f6";
}
.i-gntl--rule:before {
  content: "\e9e6";
}
.i-gntl--upgrade:before {
  content: "\e9e7";
}
.i-gntl--mark_chat_unread:before {
  content: "\e9c0";
}
.i-gntl--comment_bank:before {
  content: "\e9c1";
}
.i-gntl--sms_failed:before {
  content: "\e9c2";
}
.i-gntl--add_comment:before {
  content: "\e9c3";
}
.i-gntl--comment1:before {
  content: "\e9c4";
}
.i-gntl--message:before {
  content: "\e9c5";
}
.i-gntl--update:before {
  content: "\e9bc";
}
.i-gntl--access_time:before {
  content: "\e9bd";
}
.i-gntl--home_work:before {
  content: "\e9b5";
}
.i-gntl--home:before {
  content: "\e9b6";
}
.i-gntl--facebook-1:before {
  content: "\e9b3";
}
.i-gntl--insert_chart:before {
  content: "\e9af";
}
.i-gntl--video:before {
  content: "\e9a2";
}
.i-gntl--chat1:before {
  content: "\e9a3";
}
.i-gntl--comment:before {
  content: "\e997";
}
.i-gntl--email1:before {
  content: "\e998";
}
.i-gntl--location_on:before {
  content: "\e999";
}
.i-gntl--account_balance:before {
  content: "\e99a";
}
.i-gntl--pan_tool:before {
  content: "\e99b";
}
.i-gntl--calendar_today:before {
  content: "\e99c";
}
.i-gntl--label_important_outline:before {
  content: "\e9a4";
}
.i-gntl--filter_list_alt:before {
  content: "\e9a5";
}
.i-gntl--bookmarks:before {
  content: "\e99d";
}
.i-gntl--thumb_down_off_alt:before {
  content: "\e99e";
}
.i-gntl--emoji_events:before {
  content: "\e99f";
}
.i-gntl--ac_unit:before {
  content: "\e9a0";
}
.i-gntl--construction:before {
  content: "\e9a1";
}
.i-gntl--sort_by_alpha:before {
  content: "\e974";
}
.i-gntl--rss_feed1:before {
  content: "\e98e";
}
.i-gntl--create:before {
  content: "\e98f";
}
.i-gntl--sort:before {
  content: "\e990";
}
.i-gntl--local_printshop:before {
  content: "\e991";
}
.i-gntl--dashboard:before {
  content: "\e993";
}
.i-gntl--view_agenda1:before {
  content: "\e994";
}
.i-gntl--block:before {
  content: "\e995";
}
.i-gntl--table_rows:before {
  content: "\e996";
}
.i-gntl--error:before {
  content: "\e900";
}
.i-gntl--error_outline:before {
  content: "\e901";
}
.i-gntl--library_books:before {
  content: "\e902";
}
.i-gntl--playlist_add:before {
  content: "\e903";
}
.i-gntl--call_made:before {
  content: "\e904";
}
.i-gntl--call_received:before {
  content: "\e905";
}
.i-gntl--chat:before {
  content: "\e906";
}
.i-gntl--clear_all:before {
  content: "\e907";
}
.i-gntl--email:before {
  content: "\e908";
}
.i-gntl--phone:before {
  content: "\e909";
}
.i-gntl--rss_feed:before {
  content: "\e90a";
}
.i-gntl--add:before {
  content: "\e90b";
}
.i-gntl--clear:before {
  content: "\e90c";
}
.i-gntl--flag:before {
  content: "\e90d";
}
.i-gntl--link:before {
  content: "\e90e";
}
.i-gntl--remove:before {
  content: "\e90f";
}
.i-gntl--link_off:before {
  content: "\e910";
}
.i-gntl--save_alt:before {
  content: "\e911";
}
.i-gntl--attach_file:before {
  content: "\e912";
}
.i-gntl--format_quote:before {
  content: "\e913";
}
.i-gntl--format_size:before {
  content: "\e914";
}
.i-gntl--insert_emoticon:before {
  content: "\e915";
}
.i-gntl--image:before {
  content: "\e916";
}
.i-gntl--vertical_align_bottom:before {
  content: "\e917";
}
.i-gntl--text_fields:before {
  content: "\e918";
}
.i-gntl--table_chart:before {
  content: "\e919";
}
.i-gntl--format_list_numbered_rtl:before {
  content: "\e91a";
}
.i-gntl--hdr_strong:before {
  content: "\e91b";
}
.i-gntl--hdr_weak:before {
  content: "\e91c";
}
.i-gntl--panorama:before {
  content: "\e91d";
}
.i-gntl--remove_red_eye:before {
  content: "\e91e";
}
.i-gntl--photo_size_select_actual:before {
  content: "\e91f";
}
.i-gntl--layers:before {
  content: "\e920";
}
.i-gntl--layers_clear:before {
  content: "\e921";
}
.i-gntl--local_attraction:before {
  content: "\e922";
}
.i-gntl--local_bar:before {
  content: "\e923";
}
.i-gntl--location_history:before {
  content: "\e924";
}
.i-gntl--map:before {
  content: "\e925";
}
.i-gntl--pin_drop:before {
  content: "\e926";
}
.i-gntl--near_me:before {
  content: "\e927";
}
.i-gntl--fastfood:before {
  content: "\e928";
}
.i-gntl--arrow_back:before {
  content: "\e929";
}
.i-gntl--arrow_forward:before {
  content: "\e92a";
}
.i-gntl--check:before {
  content: "\e92b";
}
.i-gntl--expand_less:before {
  content: "\e92c";
}
.i-gntl--expand_more:before {
  content: "\e92d";
}
.i-gntl--menu:before {
  content: "\e92e";
}
.i-gntl--keyboard_control:before {
  content: "\e92f";
}
.i-gntl--more_vert:before {
  content: "\e930";
}
.i-gntl--refresh:before {
  content: "\e931";
}
.i-gntl--arrow_upward:before {
  content: "\e932";
}
.i-gntl--arrow_downward:before {
  content: "\e933";
}
.i-gntl--arrow_back_ios:before {
  content: "\e934";
}
.i-gntl--arrow_forward_ios:before {
  content: "\e935";
}
.i-gntl--event_available:before {
  content: "\e936";
}
.i-gntl--event_note:before {
  content: "\e937";
}
.i-gntl--vpn_lock:before {
  content: "\e938";
}
.i-gntl--notifications:before {
  content: "\e939";
}
.i-gntl--notifications_none:before {
  content: "\e93a";
}
.i-gntl--person:before {
  content: "\e93b";
}
.i-gntl--person_add:before {
  content: "\e93c";
}
.i-gntl--public:before {
  content: "\e93d";
}
.i-gntl--school:before {
  content: "\e93e";
}
.i-gntl--share:before {
  content: "\e93f";
}
.i-gntl--account_circle:before {
  content: "\e940";
}
.i-gntl--bookmark:before {
  content: "\e941";
}
.i-gntl--bookmark_outline:before {
  content: "\e942";
}
.i-gntl--bug_report:before {
  content: "\e943";
}
.i-gntl--build:before {
  content: "\e944";
}
.i-gntl--change_history:before {
  content: "\e945";
}
.i-gntl--delete:before {
  content: "\e946";
}
.i-gntl--description:before {
  content: "\e947";
}
.i-gntl--done:before {
  content: "\e948";
}
.i-gntl--done_all:before {
  content: "\e949";
}
.i-gntl--favorite:before {
  content: "\e94a";
}
.i-gntl--favorite_outline:before {
  content: "\e94b";
}
.i-gntl--label:before {
  content: "\e94c";
}
.i-gntl--label_outline:before {
  content: "\e94d";
}
.i-gntl--language:before {
  content: "\e94e";
}
.i-gntl--launch:before {
  content: "\e94f";
}
.i-gntl--power_settings_new:before {
  content: "\e950";
}
.i-gntl--settings:before {
  content: "\e951";
}
.i-gntl--subject:before {
  content: "\e952";
}
.i-gntl--view_agenda:before {
  content: "\e953";
}
.i-gntl--view_array:before {
  content: "\e954";
}
.i-gntl--view_carousel:before {
  content: "\e955";
}
.i-gntl--view_column:before {
  content: "\e956";
}
.i-gntl--accordions:before {
  content: "\e957";
}
.i-gntl--view_headline:before {
  content: "\e958";
}
.i-gntl--view_list:before {
  content: "\e959";
}
.i-gntl--view_module:before {
  content: "\e95a";
}
.i-gntl--view_quilt:before {
  content: "\e95b";
}
.i-gntl--view_stream:before {
  content: "\e95c";
}
.i-gntl--view_week:before {
  content: "\e95d";
}
.i-gntl--line_style:before {
  content: "\e95e";
}
.i-gntl--line_weight:before {
  content: "\e95f";
}
.i-gntl--shield:before {
  content: "\e960";
}
.i-gntl--emoji_flags:before {
  content: "\e961";
}
.i-gntl--sports_esports:before {
  content: "\e962";
}
.i-gntl--sports_motorsports:before {
  content: "\e963";
}
.i-gntl--sports_soccer:before {
  content: "\e964";
}
.i-gntl--nightlife:before {
  content: "\e965";
}
.i-gntl--all_inclusive:before {
  content: "\e966";
}
.i-gntl--beach_access:before {
  content: "\e967";
}
.i-gntl--east:before {
  content: "\e968";
}
.i-gntl--push_pin:before {
  content: "\e969";
}
.i-gntl--align_horizontal_center:before {
  content: "\e96a";
}
.i-gntl--align_horizontal_left:before {
  content: "\e96b";
}
.i-gntl--align_horizontal_right:before {
  content: "\e96c";
}
.i-gntl--align_vertical_bottom:before {
  content: "\e96d";
}
.i-gntl--align_vertical_center:before {
  content: "\e96e";
}
.i-gntl--align_vertical_top:before {
  content: "\e96f";
}
.i-gntl--horizontal_distribute:before {
  content: "\e970";
}
.i-gntl--vertical_distribute:before {
  content: "\e971";
}
.i-gntl--chat2:before {
  content: "\e9bf";
}
.i-gntl--alveole-like:before {
  content: "\e9be";
}
.i-gntl--alveole-outline-2:before {
  content: "\e9b7";
}
.i-gntl--alveole-outline:before {
  content: "\e9b8";
}
.i-gntl--alveole-plain:before {
  content: "\e9b9";
}
.i-gntl--alveole:before {
  content: "\e9ba";
}
.i-gntl--alveoles-plus:before {
  content: "\e9bb";
}
.i-gntl--Alveole-001:before {
  content: "\e9a7";
}
.i-gntl--branco-001:before {
  content: "\e9a8";
}
.i-gntl--branco-002:before {
  content: "\e9a9";
}
.i-gntl--branco-003:before {
  content: "\e9aa";
}
.i-gntl--logo-bee:before {
  content: "\e9a6";
}
.i-gntl--apple:before {
  content: "\e972";
  color: #999;
}
.i-gntl--applepay:before {
  content: "\e973";
}
.i-gntl--bandcamp:before {
  content: "\e992";
  color: #408294;
}
.i-gntl--discord:before {
  content: "\e975";
  color: #7289da;
}
.i-gntl--discourse:before {
  content: "\e976";
}
.i-gntl--discover:before {
  content: "\e977";
  color: #ff6000;
}
.i-gntl--facebook:before {
  content: "\e978";
  color: #1877f2;
}
.i-gntl--github:before {
  content: "\e979";
}
.i-gntl--instagram:before {
  content: "\e97a";
  color: #e4405f;
}
.i-gntl--itunes:before {
  content: "\e97b";
  color: #fb5bc5;
}
.i-gntl--linkedin:before {
  content: "\e97c";
  color: #0077b5;
}
.i-gntl--messenger:before {
  content: "\e97d";
  color: #00b2ff;
}
.i-gntl--mixcloud:before {
  content: "\e97e";
  color: #314359;
}
.i-gntl--paypal:before {
  content: "\e97f";
  color: #00457c;
}
.i-gntl--rss:before {
  content: "\e980";
  color: #ffa500;
}
.i-gntl--snapchat:before {
  content: "\e981";
  color: #fffc00;
}
.i-gntl--soundcloud:before {
  content: "\e982";
  color: #f30;
}
.i-gntl--spotify:before {
  content: "\e983";
  color: #1ed760;
}
.i-gntl--tiktok:before {
  content: "\e984";
}
.i-gntl--tumblr:before {
  content: "\e985";
  color: #36465d;
}
.i-gntl--twitch:before {
  content: "\e986";
  color: #6441a4;
}
.i-gntl--x:before {
  content: "\e987";
}
.i-gntl--viber:before {
  content: "\e988";
  color: #665cac;
}
.i-gntl--vimeo:before {
  content: "\e989";
  color: #1ab7ea;
}
.i-gntl--waze:before {
  content: "\e98a";
  color: #333665;
}
.i-gntl--whatsapp:before {
  content: "\e98b";
  color: #25d366;
}
.i-gntl--youtube:before {
  content: "\e98c";
  color: #f00;
}
.i-gntl--zoom:before {
  content: "\e98d";
  color: #2d8cff;
}
.i-gntl--linkedin-1:before {
  content: "\e9b4";
}
.i-gntl--vimeo-1:before {
  content: "\e9b0";
}
.i-gntl--youtube-1:before {
  content: "\e9b1";
}
.i-gntl--instagram-1:before {
  content: "\e9b2";
}
.i-gntl--sort-alpha-asc:before {
  content: "\f15d";
}
.i-gntl--sort-alpha-desc:before {
  content: "\f15e";
}
.i-gntl--sort-amount-asc:before {
  content: "\f160";
}
.i-gntl--sort-amount-desc:before {
  content: "\f161";
}
.i-gntl--sort-numeric-asc:before {
  content: "\f162";
}
.i-gntl--sort-numeric-desc:before {
  content: "\f163";
}
