@font-face {
  font-family: 'game';
  src:  url('fonts/game.eot?renvdo');
  src:  url('fonts/game.eot?renvdo#iefix') format('embedded-opentype'),
    url('fonts/game.ttf?renvdo') format('truetype'),
    url('fonts/game.woff?renvdo') format('woff'),
    url('fonts/game.svg?renvdo#game') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-gm-"], [class*=" icon-gm-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'game' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gm-quote:before {
  content: "\ea23";
}
.icon-gm-quote1:before {
  content: "\ea24";
}
.icon-gm-tag:before {
  content: "\ea25";
}
.icon-gm-tag1:before {
  content: "\ea26";
}
.icon-gm-calendar:before {
  content: "\ea27";
}
.icon-gm-calendar1:before {
  content: "\ea28";
}
.icon-gm-calendar2:before {
  content: "\ea29";
}
.icon-gm-files:before {
  content: "\ea2a";
}
.icon-gm-phone1:before {
  content: "\ea2b";
}
.icon-gm-tablet:before {
  content: "\ea2c";
}
.icon-gm-window:before {
  content: "\ea2d";
}
.icon-gm-monitor:before {
  content: "\ea2e";
}
.icon-gm-ipod:before {
  content: "\ea2f";
}
.icon-gm-tv:before {
  content: "\ea30";
}
.icon-gm-camera:before {
  content: "\ea31";
}
.icon-gm-camera1:before {
  content: "\ea32";
}
.icon-gm-camera2:before {
  content: "\ea33";
}
.icon-gm-film:before {
  content: "\ea34";
}
.icon-gm-film1:before {
  content: "\ea35";
}
.icon-gm-film2:before {
  content: "\ea36";
}
.icon-gm-microphone:before {
  content: "\ea37";
}
.icon-gm-microphone1:before {
  content: "\ea38";
}
.icon-gm-microphone2:before {
  content: "\ea39";
}
.icon-gm-drink:before {
  content: "\ea3a";
}
.icon-gm-drink1:before {
  content: "\ea3b";
}
.icon-gm-drink2:before {
  content: "\ea3c";
}
.icon-gm-drink3:before {
  content: "\ea3d";
}
.icon-gm-coffee:before {
  content: "\ea3e";
}
.icon-gm-mug:before {
  content: "\ea3f";
}
.icon-gm-pacman:before {
  content: "\ea40";
}
.icon-gm-sitemap:before {
  content: "\ea41";
}
.icon-gm-phone2:before {
  content: "\ea42";
}
.icon-gm-direction:before {
  content: "\ea43";
}
.icon-gm-graduate:before {
  content: "\ea44";
}
.icon-gm-lab:before {
  content: "\ea45";
}
.icon-gm-tie:before {
  content: "\ea46";
}
.icon-gm-soccer:before {
  content: "\ea47";
}
.icon-gm-3dglasses:before {
  content: "\ea48";
}
.icon-gm-smiley1:before {
  content: "\ea49";
}
.icon-gm-sad:before {
  content: "\ea4a";
}
.icon-gm-mute:before {
  content: "\ea4b";
}
.icon-gm-satellite:before {
  content: "\ea4c";
}
.icon-gm-medal:before {
  content: "\ea4d";
}
.icon-gm-medal1:before {
  content: "\ea4e";
}
.icon-gm-key:before {
  content: "\ea4f";
}
.icon-gm-transformers:before {
  content: "\ea50";
}
.icon-gm-batman:before {
  content: "\ea51";
}
.icon-gm-spaceinvaders:before {
  content: "\ea52";
}
.icon-gm-skeletor:before {
  content: "\ea53";
}
.icon-gm-bomb:before {
  content: "\ea54";
}
.icon-gm-megaphone:before {
  content: "\ea55";
}
.icon-gm-megaphone1:before {
  content: "\ea56";
}
.icon-gm-box:before {
  content: "\ea57";
}
.icon-gm-diamond:before {
  content: "\ea58";
}
.icon-gm-bag:before {
  content: "\ea59";
}
.icon-gm-moneybag:before {
  content: "\ea5a";
}
.icon-gm-comments:before {
  content: "\ea5b";
}
.icon-gm-library:before {
  content: "\ea5c";
}
.icon-gm-auction:before {
  content: "\ea5d";
}
.icon-gm-justice:before {
  content: "\ea5e";
}
.icon-gm-pig:before {
  content: "\ea5f";
}
.icon-gm-safe:before {
  content: "\ea60";
}
.icon-gm-envelope:before {
  content: "\ea61";
}
.icon-gm-radioactive:before {
  content: "\ea62";
}
.icon-gm-music:before {
  content: "\ea63";
}
.icon-gm-presentation:before {
  content: "\ea64";
}
.icon-gm-aids:before {
  content: "\ea65";
}
.icon-gm-heart:before {
  content: "\ea66";
}
.icon-gm-info1:before {
  content: "\ea67";
}
.icon-gm-info2:before {
  content: "\ea68";
}
.icon-gm-piano:before {
  content: "\ea69";
}
.icon-gm-rain:before {
  content: "\ea6a";
}
.icon-gm-snow:before {
  content: "\ea6b";
}
.icon-gm-lightning:before {
  content: "\ea6c";
}
.icon-gm-sun1:before {
  content: "\ea6d";
}
.icon-gm-moon:before {
  content: "\ea6e";
}
.icon-gm-cloudy:before {
  content: "\ea6f";
}
.icon-gm-cloudy1:before {
  content: "\ea70";
}
.icon-gm-bike:before {
  content: "\ea71";
}
.icon-gm-paperplane:before {
  content: "\ea72";
}
.icon-gm-rocket:before {
  content: "\ea73";
}
.icon-gm-target:before {
  content: "\ea74";
}
.icon-gm-badge:before {
  content: "\ea75";
}
.icon-gm-ticket:before {
  content: "\ea76";
}
.icon-gm-ticket1:before {
  content: "\ea77";
}
.icon-gm-ticket2:before {
  content: "\ea78";
}
.icon-gm-microphone3:before {
  content: "\ea79";
}
.icon-gm-cone:before {
  content: "\ea7a";
}
.icon-gm-stop:before {
  content: "\ea7b";
}
.icon-gm-yingyang:before {
  content: "\ea7c";
}
.icon-gm-lockedheart:before {
  content: "\ea7d";
}
.icon-gm-navigation:before {
  content: "\ea7e";
}
.icon-gm-zombie:before {
  content: "\e955";
}
.icon-gm-zambie-hand:before {
  content: "\e956";
}
.icon-gm-tired-eye:before {
  content: "\e957";
}
.icon-gm-team-fill:before {
  content: "\e958";
}
.icon-gm-space-ship:before {
  content: "\e959";
}
.icon-gm-smiley:before {
  content: "\e95a";
}
.icon-gm-skull-mexico:before {
  content: "\e95b";
}
.icon-gm-skull-with-moustache:before {
  content: "\e95c";
}
.icon-gm-skull-draw:before {
  content: "\e95d";
}
.icon-gm-reindeer:before {
  content: "\e95e";
}
.icon-gm-rooster:before {
  content: "\e95f";
}
.icon-gm-rocket3:before {
  content: "\e960";
}
.icon-gm-people:before {
  content: "\e961";
}
.icon-gm-paper-plane2:before {
  content: "\e962";
}
.icon-gm-joconde:before {
  content: "\e963";
}
.icon-gm-ghost-angry:before {
  content: "\e964";
}
.icon-gm-garden-ladybug:before {
  content: "\e965";
}
.icon-gm-france-line:before {
  content: "\e966";
}
.icon-gm-france-fill:before {
  content: "\e967";
}
.icon-gm-donut:before {
  content: "\e968";
}
.icon-gm-diamond1:before {
  content: "\e969";
}
.icon-gm-clover:before {
  content: "\e96a";
}
.icon-gm-circus-cannon:before {
  content: "\e96b";
}
.icon-gm-cherries:before {
  content: "\e96c";
}
.icon-gm-rend-l-oseille:before {
  content: "\e96d";
}
.icon-gm-cookies:before {
  content: "\e96e";
}
.icon-gm-ghost1:before {
  content: "\e96f";
}
.icon-gm-skull-toon:before {
  content: "\e900";
}
.icon-gm-skull-pixel:before {
  content: "\e901";
}
.icon-gm-miss-see-you:before {
  content: "\e902";
}
.icon-gm-ghost:before {
  content: "\e903";
}
.icon-gm-sun:before {
  content: "\e904";
}
.icon-gm-see-you:before {
  content: "\e905";
}
.icon-gm-love-pixel:before {
  content: "\e906";
}
.icon-gm-love-break:before {
  content: "\e907";
}
.icon-gm-skull:before {
  content: "\e908";
}
.icon-gm-apple:before {
  content: "\ea20";
}
.icon-gm-applepay:before {
  content: "\e9b4";
}
.icon-gm-bandcamp:before {
  content: "\e9b7";
}
.icon-gm-discord:before {
  content: "\e9b8";
}
.icon-gm-discourse:before {
  content: "\e9b9";
}
.icon-gm-discover:before {
  content: "\e9ba";
}
.icon-gm-facebook:before {
  content: "\e9bb";
}
.icon-gm-github:before {
  content: "\e9be";
}
.icon-gm-instagram:before {
  content: "\ea08";
}
.icon-gm-itunes:before {
  content: "\ea09";
}
.icon-gm-linkedin:before {
  content: "\ea0a";
}
.icon-gm-messenger:before {
  content: "\ea0b";
}
.icon-gm-mixcloud:before {
  content: "\ea0c";
}
.icon-gm-paypal:before {
  content: "\ea0d";
}
.icon-gm-rss:before {
  content: "\ea0e";
}
.icon-gm-snapchat:before {
  content: "\ea0f";
}
.icon-gm-soundcloud:before {
  content: "\ea10";
}
.icon-gm-spotify:before {
  content: "\ea11";
}
.icon-gm-tiktok:before {
  content: "\ea12";
}
.icon-gm-tumblr:before {
  content: "\ea13";
}
.icon-gm-twitch:before {
  content: "\ea14";
}
.icon-gm-x:before {
  content: "\ea15";
}
.icon-gm-viber:before {
  content: "\ea16";
}
.icon-gm-vimeo:before {
  content: "\ea17";
}
.icon-gm-waze:before {
  content: "\ea18";
}
.icon-gm-whatsapp:before {
  content: "\ea19";
}
.icon-gm-youtube-1:before {
  content: "\ea1a";
}
.icon-gm-zoom:before {
  content: "\ea1b";
}
.icon-gm-send:before {
  content: "\ea22";
}
.icon-gm-outlet:before {
  content: "\ea21";
}
.icon-gm-vpn_key:before {
  content: "\ea07";
}
.icon-gm-filter_1:before {
  content: "\e9ab";
}
.icon-gm-filter_2:before {
  content: "\e9fc";
}
.icon-gm-filter_3:before {
  content: "\e9fd";
}
.icon-gm-filter_4:before {
  content: "\e9fe";
}
.icon-gm-filter_5:before {
  content: "\e9ff";
}
.icon-gm-filter_6:before {
  content: "\ea00";
}
.icon-gm-filter_7:before {
  content: "\ea01";
}
.icon-gm-filter_8:before {
  content: "\ea02";
}
.icon-gm-filter_9:before {
  content: "\ea03";
}
.icon-gm-wb_sunny:before {
  content: "\ea04";
}
.icon-gm-search:before {
  content: "\e9ad";
}
.icon-gm-imagesearch_roller:before {
  content: "\e9fa";
}
.icon-gm-saved_search:before {
  content: "\e9fb";
}
.icon-gm-nights_stay:before {
  content: "\ea05";
}
.icon-gm-bedtime:before {
  content: "\ea06";
}
.icon-gm-node_list:before {
  content: "\e9f2";
}
.icon-gm-menu_term:before {
  content: "\e9f3";
}
.icon-gm-save:before {
  content: "\e9ac";
}
.icon-gm-texte:before {
  content: "\e9ed";
}
.icon-gm-sondage:before {
  content: "\e9f9";
}
.icon-gm-insert_emoticon1:before {
  content: "\e9c7";
}
.icon-gm-vertical_align_bottom1:before {
  content: "\e9d6";
}
.icon-gm-vertical_align_top:before {
  content: "\e9d7";
}
.icon-gm-text_fields1:before {
  content: "\e9ee";
}
.icon-gm-title:before {
  content: "\e9ef";
}
.icon-gm-container:before {
  content: "\e9f4";
}
.icon-gm-cloud_upload:before {
  content: "\e9ae";
}
.icon-gm-file_upload:before {
  content: "\e9c6";
}
.icon-gm-collections:before {
  content: "\e9f5";
}
.icon-gm-filter_vintage:before {
  content: "\e9c8";
}
.icon-gm-leak_add:before {
  content: "\e9c9";
}
.icon-gm-local_florist:before {
  content: "\e9ca";
}
.icon-gm-rate_review:before {
  content: "\e9cb";
}
.icon-gm-unfold_less:before {
  content: "\e9d8";
}
.icon-gm-unfold_more:before {
  content: "\e9d9";
}
.icon-gm-sentiment_very_dissatisfied:before {
  content: "\e9cc";
}
.icon-gm-sentiment_very_satisfied:before {
  content: "\e9cd";
}
.icon-gm-thumb_down_alt:before {
  content: "\e9ce";
}
.icon-gm-thumb_up_alt:before {
  content: "\e9cf";
}
.icon-gm-code:before {
  content: "\e9da";
}
.icon-gm-highlight_remove:before {
  content: "\e9d0";
}
.icon-gm-info:before {
  content: "\e9e8";
}
.icon-gm-info_outline:before {
  content: "\e9e9";
}
.icon-gm-note_add:before {
  content: "\e9ea";
}
.icon-gm-swap_horiz:before {
  content: "\e9db";
}
.icon-gm-swap_vert:before {
  content: "\e9dc";
}
.icon-gm-onglets:before {
  content: "\e9f7";
}
.icon-gm-onglet:before {
  content: "\e9f8";
}
.icon-gm-trending_neutral:before {
  content: "\e9dd";
}
.icon-gm-compare_arrows:before {
  content: "\e9de";
}
.icon-gm-timeline:before {
  content: "\e9df";
}
.icon-gm-speaker_notes_off:before {
  content: "\e9d1";
}
.icon-gm-accordion:before {
  content: "\e9f0";
}
.icon-gm-split-vertical:before {
  content: "\e9f1";
}
.icon-gm-drive_folder_upload:before {
  content: "\e9eb";
}
.icon-gm-thumb_down_off_alt1:before {
  content: "\e9d2";
}
.icon-gm-thumb_up_off_alt:before {
  content: "\e9d3";
}
.icon-gm-upload_file:before {
  content: "\e9ec";
}
.icon-gm-height:before {
  content: "\e9e0";
}
.icon-gm-volunteer_activism:before {
  content: "\e9d4";
}
.icon-gm-add_road:before {
  content: "\e9e1";
}
.icon-gm-addchart:before {
  content: "\e9e2";
}
.icon-gm-alt_route:before {
  content: "\e9e3";
}
.icon-gm-auto_awesome:before {
  content: "\e9e4";
}
.icon-gm-auto_fix_high:before {
  content: "\e9e5";
}
.icon-gm-local_police:before {
  content: "\e9d5";
}
.icon-gm-location_pin:before {
  content: "\e9f6";
}
.icon-gm-rule:before {
  content: "\e9e6";
}
.icon-gm-upgrade:before {
  content: "\e9e7";
}
.icon-gm-mark_chat_unread:before {
  content: "\e9c0";
}
.icon-gm-comment_bank:before {
  content: "\e9c1";
}
.icon-gm-sms_failed:before {
  content: "\e9c2";
}
.icon-gm-add_comment:before {
  content: "\e9c3";
}
.icon-gm-comment1:before {
  content: "\e9c4";
}
.icon-gm-message:before {
  content: "\e9c5";
}
.icon-gm-update:before {
  content: "\e9bc";
}
.icon-gm-access_time:before {
  content: "\e9bd";
}
.icon-gm-home_work:before {
  content: "\e9b5";
}
.icon-gm-home:before {
  content: "\e9b6";
}
.icon-gm-facebook-1:before {
  content: "\e9b3";
}
.icon-gm-insert_chart:before {
  content: "\e9af";
}
.icon-gm-video:before {
  content: "\e9a2";
}
.icon-gm-chat1:before {
  content: "\e9a3";
}
.icon-gm-comment:before {
  content: "\e997";
}
.icon-gm-email1:before {
  content: "\e998";
}
.icon-gm-location_on:before {
  content: "\e999";
}
.icon-gm-account_balance:before {
  content: "\e99a";
}
.icon-gm-pan_tool:before {
  content: "\e99b";
}
.icon-gm-calendar_today:before {
  content: "\e99c";
}
.icon-gm-label_important_outline:before {
  content: "\e9a4";
}
.icon-gm-filter_list_alt:before {
  content: "\e9a5";
}
.icon-gm-bookmarks:before {
  content: "\e99d";
}
.icon-gm-thumb_down_off_alt:before {
  content: "\e99e";
}
.icon-gm-emoji_events:before {
  content: "\e99f";
}
.icon-gm-ac_unit:before {
  content: "\e9a0";
}
.icon-gm-construction:before {
  content: "\e9a1";
}
.icon-gm-sort_by_alpha:before {
  content: "\e974";
}
.icon-gm-rss_feed1:before {
  content: "\e98e";
}
.icon-gm-create:before {
  content: "\e98f";
}
.icon-gm-sort:before {
  content: "\e990";
}
.icon-gm-local_printshop:before {
  content: "\e991";
}
.icon-gm-dashboard:before {
  content: "\e993";
}
.icon-gm-view_agenda1:before {
  content: "\e994";
}
.icon-gm-block:before {
  content: "\e995";
}
.icon-gm-table_rows:before {
  content: "\e996";
}
.icon-gm-error:before {
  content: "\e909";
}
.icon-gm-error_outline:before {
  content: "\e90a";
}
.icon-gm-library_books:before {
  content: "\e90b";
}
.icon-gm-playlist_add:before {
  content: "\e90c";
}
.icon-gm-call_made:before {
  content: "\e90d";
}
.icon-gm-call_received:before {
  content: "\e90e";
}
.icon-gm-chat:before {
  content: "\e90f";
}
.icon-gm-clear_all:before {
  content: "\e910";
}
.icon-gm-email:before {
  content: "\e911";
}
.icon-gm-phone:before {
  content: "\e912";
}
.icon-gm-rss_feed:before {
  content: "\e913";
}
.icon-gm-add:before {
  content: "\e914";
}
.icon-gm-clear:before {
  content: "\e915";
}
.icon-gm-flag:before {
  content: "\e916";
}
.icon-gm-link:before {
  content: "\e917";
}
.icon-gm-remove:before {
  content: "\e918";
}
.icon-gm-link_off:before {
  content: "\e919";
}
.icon-gm-save_alt:before {
  content: "\e91a";
}
.icon-gm-attach_file:before {
  content: "\e91b";
}
.icon-gm-format_quote:before {
  content: "\e91c";
}
.icon-gm-format_size:before {
  content: "\e91d";
}
.icon-gm-insert_emoticon:before {
  content: "\e91e";
}
.icon-gm-image:before {
  content: "\e91f";
}
.icon-gm-vertical_align_bottom:before {
  content: "\e920";
}
.icon-gm-text_fields:before {
  content: "\e921";
}
.icon-gm-table_chart:before {
  content: "\e922";
}
.icon-gm-format_list_numbered_rtl:before {
  content: "\e923";
}
.icon-gm-hdr_strong:before {
  content: "\e924";
}
.icon-gm-hdr_weak:before {
  content: "\e925";
}
.icon-gm-panorama:before {
  content: "\e926";
}
.icon-gm-remove_red_eye:before {
  content: "\e927";
}
.icon-gm-photo_size_select_actual:before {
  content: "\e928";
}
.icon-gm-layers:before {
  content: "\e929";
}
.icon-gm-layers_clear:before {
  content: "\e92a";
}
.icon-gm-local_attraction:before {
  content: "\e92b";
}
.icon-gm-local_bar:before {
  content: "\e92c";
}
.icon-gm-location_history:before {
  content: "\e92d";
}
.icon-gm-map:before {
  content: "\e92e";
}
.icon-gm-pin_drop:before {
  content: "\e92f";
}
.icon-gm-near_me:before {
  content: "\e930";
}
.icon-gm-fastfood:before {
  content: "\e931";
}
.icon-gm-arrow_back:before {
  content: "\e932";
}
.icon-gm-arrow_forward:before {
  content: "\e933";
}
.icon-gm-check:before {
  content: "\e934";
}
.icon-gm-expand_less:before {
  content: "\e935";
}
.icon-gm-expand_more:before {
  content: "\e936";
}
.icon-gm-menu:before {
  content: "\e937";
}
.icon-gm-keyboard_control:before {
  content: "\e938";
}
.icon-gm-more_vert:before {
  content: "\e939";
}
.icon-gm-refresh:before {
  content: "\e93a";
}
.icon-gm-arrow_upward:before {
  content: "\e93b";
}
.icon-gm-arrow_downward:before {
  content: "\e93c";
}
.icon-gm-arrow_back_ios:before {
  content: "\e93d";
}
.icon-gm-arrow_forward_ios:before {
  content: "\e93e";
}
.icon-gm-event_available:before {
  content: "\e93f";
}
.icon-gm-event_note:before {
  content: "\e940";
}
.icon-gm-vpn_lock:before {
  content: "\e941";
}
.icon-gm-notifications:before {
  content: "\e942";
}
.icon-gm-notifications_none:before {
  content: "\e943";
}
.icon-gm-person:before {
  content: "\e944";
}
.icon-gm-person_add:before {
  content: "\e945";
}
.icon-gm-public:before {
  content: "\e946";
}
.icon-gm-school:before {
  content: "\e947";
}
.icon-gm-share:before {
  content: "\e948";
}
.icon-gm-account_circle:before {
  content: "\e949";
}
.icon-gm-bookmark:before {
  content: "\e94a";
}
.icon-gm-bookmark_outline:before {
  content: "\e94b";
}
.icon-gm-bug_report:before {
  content: "\e94c";
}
.icon-gm-build:before {
  content: "\e94d";
}
.icon-gm-change_history:before {
  content: "\e94e";
}
.icon-gm-delete:before {
  content: "\e94f";
}
.icon-gm-description:before {
  content: "\e950";
}
.icon-gm-done:before {
  content: "\e951";
}
.icon-gm-done_all:before {
  content: "\e952";
}
.icon-gm-favorite:before {
  content: "\e953";
}
.icon-gm-favorite_outline:before {
  content: "\e954";
}
.icon-gm-label:before {
  content: "\e970";
}
.icon-gm-label_outline:before {
  content: "\e971";
}
.icon-gm-language:before {
  content: "\e972";
}
.icon-gm-launch:before {
  content: "\e973";
}
.icon-gm-power_settings_new:before {
  content: "\e975";
}
.icon-gm-settings:before {
  content: "\e976";
}
.icon-gm-subject:before {
  content: "\e977";
}
.icon-gm-view_agenda:before {
  content: "\e978";
}
.icon-gm-view_array:before {
  content: "\e979";
}
.icon-gm-view_carousel:before {
  content: "\e97a";
}
.icon-gm-view_column:before {
  content: "\e97b";
}
.icon-gm-accordions:before {
  content: "\e97c";
}
.icon-gm-view_headline:before {
  content: "\e97d";
}
.icon-gm-view_list:before {
  content: "\e97e";
}
.icon-gm-view_module:before {
  content: "\e97f";
}
.icon-gm-view_quilt:before {
  content: "\e980";
}
.icon-gm-view_stream:before {
  content: "\e981";
}
.icon-gm-view_week:before {
  content: "\e982";
}
.icon-gm-line_style:before {
  content: "\e983";
}
.icon-gm-line_weight:before {
  content: "\e984";
}
.icon-gm-shield:before {
  content: "\e985";
}
.icon-gm-emoji_flags:before {
  content: "\e986";
}
.icon-gm-sports_esports:before {
  content: "\e987";
}
.icon-gm-sports_motorsports:before {
  content: "\e988";
}
.icon-gm-sports_soccer:before {
  content: "\e989";
}
.icon-gm-nightlife:before {
  content: "\e98a";
}
.icon-gm-all_inclusive:before {
  content: "\e98b";
}
.icon-gm-beach_access:before {
  content: "\e98c";
}
.icon-gm-east:before {
  content: "\e98d";
}
.icon-gm-push_pin:before {
  content: "\e992";
}
.icon-gm-align_horizontal_center:before {
  content: "\e9a6";
}
.icon-gm-align_horizontal_left:before {
  content: "\e9a7";
}
.icon-gm-align_horizontal_right:before {
  content: "\e9a8";
}
.icon-gm-align_vertical_bottom:before {
  content: "\e9a9";
}
.icon-gm-align_vertical_center:before {
  content: "\e9aa";
}
.icon-gm-align_vertical_top:before {
  content: "\e9b0";
}
.icon-gm-horizontal_distribute:before {
  content: "\e9b1";
}
.icon-gm-vertical_distribute:before {
  content: "\e9b2";
}
.icon-gm-chat2:before {
  content: "\e9bf";
}
.icon-gm-linkedin-1:before {
  content: "\ea1c";
}
.icon-gm-vimeo-1:before {
  content: "\ea1d";
}
.icon-gm-youtube:before {
  content: "\ea1e";
}
.icon-gm-instagram-1:before {
  content: "\ea1f";
}
.icon-gm-sort-alpha-asc:before {
  content: "\f15d";
}
.icon-gm-sort-alpha-desc:before {
  content: "\f15e";
}
.icon-gm-sort-amount-asc:before {
  content: "\f160";
}
.icon-gm-sort-amount-desc:before {
  content: "\f161";
}
.icon-gm-sort-numeric-asc:before {
  content: "\f162";
}
.icon-gm-sort-numeric-desc:before {
  content: "\f163";
}
