@import "tailwindcss";

@theme {
  --color-x-one: #1e87f0;
  --color-x-one-hover: #1173d4;
  --container: 80rem;
  --color-bgcontainer: #ffffff;
  --color-bghcontainer: #e9e9e9;
  --color-txtcontainer: #171717;
}

/* @source inline("max-w-xl max-w-3xl max-w-5xl max-w-7xl max-w-full"); */
@source inline("{,md:,lg:,xl:,2xl:}max-w-{md,lg,xl,2xl,3xl,4xl,5xl,6xl,7xl}");
@source inline("{,md:,lg:,xl:}grid-cols-{1,2,3,4,5,6}");
@source inline("{,md:,lg:,xl:}col-span-{1,2,3,4,5,6}");
@source inline("{,md:,lg:,xl:,2xl:}text-{xs,sm,md,base,lg,xl,2xl,3xl,4xl,5xl,6xl,7xl,8xl,9xl}");
@source inline("{,md:,lg:,xl:}min-h-{1,4,8,16,32,40,80,120,160,200,240,280,320,screen,auto}");
@source inline("{,md:,lg:,xl:}items-{start,center,end}");
@source inline("{,md:,lg:,xl:}py-{0,4,8,12,16,24}");
@source inline("{,md:,lg:,xl:}p-{0,4,8,12,16,24}");
@source inline("{,md:,lg:,xl:}w-{1/1,1/2,1/3,2/3}");
@source inline("{,md:,lg:,xl:}justify-{start,center,end}");
@source inline("{,md:,lg:,xl:}self-{start,center,end}");
@source inline("{,md:,lg:,xl:}basis-{1/1,1/2,1/3,2/3}");
@source inline("{,md:,lg:,xl:}gap-{0,1,8,12,16,24}");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #171717;
  --foreground: #f2f2f2;
  --color-bgcontainer: #171717;
  --color-bghcontainer: #101010;
  /* --color-txtcontainer: #f2f2f2; */
}

.bleu {
  --acme-x-one: #1e87f0;
  --acme-x-one-hover: #0b69c7;
}

.apple {
  --acme-x-one: #b4c800;
  --acme-x-one-hover: #909f06;
}

.fushia {
  --acme-x-one: #d200d9;
  --acme-x-one-hover: #940498;
}

.red {
  --acme-x-one: #d70000;
  --acme-x-one-hover: #aa0404;
}

.dark.bleu {
  --acme-x-one: #acd5ff;
  --acme-x-one-hover: #96bfe8;
}

.dark.apple {
  --acme-x-one: #e7f752;
  --acme-x-one-hover: #d1df56;
}

.dark.fushia {
  --acme-x-one: #ebcaec;
  --acme-x-one-hover: #e1b3e2;
}

.dark.red {
  --acme-x-one: #eccadb;
  --acme-x-one-hover: #dfa9be;
}

@import "../fonts/gentil/style.css";

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --acme-x-one: #ffa2a2;
    --acme-x-two: #e7f752;
    --acme-x-three: #acd5ff;
    --acme-x-four: #ebcaec;
  }
} */

@theme inline {
  --color-one: var(--acme-x-one);
  --color-one-hover: var(--acme-x-one-hover);
  --main-height: calc(100vh - 176px);
  /* --color-two: var(--acme-x-two);
  --color-three: var(--acme-x-three);
  --color-four: var(--acme-x-four); */
}
@custom-variant dark (&:where(.dark, .dark *));



/* a {
  color: var(--acme-x-one);
  &:hover {
    color: var(--acme-x-one-hover);
  }
} */

.kk-red {
  background: #d70000;
  accent-color: #d70000;
}
.dark .kk-red {
  background: #eccadb;
  accent-color: #eccadb;
}

.kk-apple {
  background: #b4c800;
}
.dark .kk-apple {
  background: #e7f752;
}

.kk-bleu {
  background: #1e87f0;
}
.dark .kk-bleu {
  background: #acd5ff;
}

.kk-fushia {
  background: #d200d9
}

.dark .kk-fushia {
  background: #ebcaec;
}


drupal-media[data-align="left"] > * { float: left; margin-right: 1.5rem; }
drupal-media[data-align="right"] > * { float: right; margin-left: 1.5rem; }
drupal-media[data-align="center"] > * { display: block; margin: 0 auto; }

/* .gg-body {
  font-size: 1.2rem;
}

.gg-body a[target="_blank"] {
  font-weight: 500;
  color: var(--acme-x-one);
} */

/* .gg-body a[target=_blank]::after {
  font-family: 'game' !important;
  content: "\e973";
  margin-left: 3px;
} */

/* .gg-body a:hover {
  color: var(--acme-x-one-hover);
} */
/* .gg-body a:hover::after {
  font-weight: 800;
  color: var(--acme-x-one);
} */

/* .gg-body h2,
.gg-body h3,
.gg-body h4 {
  margin-bottom: 25px;
  margin-top: 0px;
}

.gg-body h2:first-child,
.gg-body h3:first-child,
.gg-body h4:first-child {
  margin-top: 0;
} */

/* .gg-body h2 {
  font-size: 3.3rem;
  font-weight: 900;
}

.gg-body h3 {
  font-size: 2.7rem;
}

.gg-body h4 {
  font-size: 2.3rem;
}

.gg-body h5 {
  font-size: 1.8rem;
} */
/* .gg-body blockquote:has(+ h2),
.gg-body blockquote:has(+ h3),
.gg-body blockquote:has(+ h4),
.gg-body ul:has(+ h2),
.gg-body ul:has(+ h3),
.gg-body ul:has(+ h4),
.gg-body ol:has(+ h2),
.gg-body ol:has(+ h3),
.gg-body ol:has(+ h4),
.gg-body p:has(+ h2),
.gg-body p:has(+ h3),
.gg-body p:has(+ h4),
.gg-body div:has(+ h2),
.gg-body div:has(+ h3),
.gg-body div:has(+ h4),
.gg-body a:has(+ h2),
.gg-body a:has(+ h3),
.gg-body a:has(+ h4) {
  margin-bottom: 85px;
} */

/* .gg-body blockquote > p:last-child {
 margin-bottom: 5px;
} */

/* .gg-body blockquote:has(+ p) + p.text-sm{
  border-left: 2px solid;
  padding-left: 35px;
  margin-left: 8px;
} */

.text-xl {
  font-size: var(--text-xl);
  line-height: var(--tw-leading, var(--text-xl--line-height));
}

.text-1xl {
  font-size: var(--text-1xl);
  line-height: var(--tw-leading, var(--text-1xl--line-height));
}

.text-2xl {
  font-size: var(--text-2xl);
  line-height: var(--tw-leading, var(--text-2xl--line-height));
}

.gg-body .text-2xl-quote {
  font-size: var(--text-2xl);
  line-height: var(--tw-leading, var(--text-2xl--line-height));
  margin-bottom: 10px;
}

.twitter-tweet-wrapper .twitter-tweet,
.twitter-tweet-wrapper iframe,
.twitter-tweet-wrapper iframe article,
.twitter-tweet-wrapper iframe div,
.twitter-tweet-wrapper iframe div div,
.twitter-tweet-wrapper iframe div div div {
  max-width: 100% !important;
  width: 100% !important;
}

.uk-dotnav>*>:hover,
.uk-dotnav>*>:active,
.uk-dotnav>.uk-active>* {
    background-color: var(--acme-x-one);
    border-color: transparent
}

.uk-dotnav>*>* {
    border: 1px solid var(--acme-x-one);
}

.uk-lightbox {
  background:  var(--background);
}

/* blockquote {
  border-left: 10px solid;
  padding-left: 20px;
} */


/*
 * Slide
 */
.hh-navbar-sti,
.hh-navbar {

 }
.up,
.pp-flip {
  
}

.plshldr {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
}
/* */
.up {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 9999999999999999999 !important;
  background:  var(--background);
} 

/* .hh-navbar-sti > div > div {
  transition: transform 0.45s cubic-bezier(0.2, 0.8, 0.4, 1), opacity 0.4s ease;
} */

.up {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
  animation: navbarSlideIn 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

/* Même animation, mais en reverse pour la sortie */
.ii-nav {
  /* animation: navbarSlide 0.45s cubic-bezier(0.4, 0, 0.2, 1) reverse forwards; */
   /* transition: transform 0.6s cubic-bezier(0.2, 0.8, 0.4, 1), opacity 0.6s ease; */
   transition: transform .6 ease-in-out;
}

.down {
  /* position: relative; */
   /* transition: transform .6 ease-in-out, opacity 0.6s ease; */
  /* animation: navbarSlide 0.45s cubic-bezier(0.4, 0, 0.2, 1) reverse forwards; */
}

@keyframes navbarSlideIn {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes navbarSlide {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

