@import "tailwindcss";

@theme {
  --color-x-one: #1e87f0;
  --color-x-one-hover: #1173d4;
  --container: 80rem;
  --color-bgcontainer: #ffffff;
  --color-bghcontainer: #e9e9e9;
  --color-txtcontainer: #171717;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #171717;
  --foreground: #f2f2f2;
  --color-bgcontainer: #171717;
  --color-bghcontainer: #101010;
  /* --color-txtcontainer: #f2f2f2; */
}

.bleu {
  --acme-x-one: #1e87f0;
  --acme-x-one-hover: #0b69c7;
}

.apple {
  --acme-x-one: #b4c800;
  --acme-x-one-hover: #909f06;
}

.fushia {
  --acme-x-one: #d200d9;
  --acme-x-one-hover: #940498;
}

.red {
  --acme-x-one: #d70000;
  --acme-x-one-hover: #aa0404;
}

.dark.bleu {
  --acme-x-one: #acd5ff;
  --acme-x-one-hover: #96bfe8;
}

.dark.apple {
  --acme-x-one: #e7f752;
  --acme-x-one-hover: #d1df56;
}

.dark.fushia {
  --acme-x-one: #ebcaec;
  --acme-x-one-hover: #e1b3e2;
}

.dark.red {
  --acme-x-one: #eccadb;
  --acme-x-one-hover: #dfa9be;
}

@import "../fonts/gentil/style.css";

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --acme-x-one: #ffa2a2;
    --acme-x-two: #e7f752;
    --acme-x-three: #acd5ff;
    --acme-x-four: #ebcaec;
  }
} */

@theme inline {
  --color-one: var(--acme-x-one);
  --color-one-hover: var(--acme-x-one-hover);
  --main-height: calc(100vh - 176px);
  /* --color-two: var(--acme-x-two);
  --color-three: var(--acme-x-three);
  --color-four: var(--acme-x-four); */
}
@custom-variant dark (&:where(.dark, .dark *));

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 1;
}

main {
  font-size: 1rem;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

.uk-article-meta {
  font-size: 0.9rem;
}

.o-font-10 {
  font-size: 1rem;
}

/* a {
  color: var(--acme-x-one);
  &:hover {
    color: var(--acme-x-one-hover);
  }
} */

.kk-red {
  background: #d70000;
  accent-color: #d70000;
}
.dark .kk-red {
  background: #eccadb;
  accent-color: #eccadb;
}

.kk-apple {
  background: #b4c800;
}
.dark .kk-apple {
  background: #e7f752;
}

.kk-bleu {
  background: #1e87f0;
}
.dark .kk-bleu {
  background: #acd5ff;
}

.kk-fushia {
  background: #d200d9
}

.dark .kk-fushia {
  background: #ebcaec;
}


drupal-media[data-align="left"] > * { float: left; margin-right: 1.5rem; }
drupal-media[data-align="right"] > * { float: right; margin-left: 1.5rem; }
drupal-media[data-align="center"] > * { display: block; margin: 0 auto; }

.gg-body {
  font-size: 1.2rem;
}

.gg-body h2,
.gg-body h3,
.gg-body h4 {
  margin-bottom: 25px;
  margin-top: 40px;
}

.gg-body h2:first-child,
.gg-body h3:first-child,
.gg-body h4:first-child {
  margin-top: 0;
}

.gg-body h2{
  font-size: 3.3rem;
}

.gg-body h3{
  font-size: 3rem;
}

.gg-body h4{
  font-size: 2.8rem;
}

.gg-body .prgh,
.gg-body p{
  margin-bottom: 25px;
}

.text-xl {
  font-size: var(--text-xl);
  line-height: var(--tw-leading, var(--text-xl--line-height));
}

.text-1xl {
  font-size: var(--text-1xl);
  line-height: var(--tw-leading, var(--text-1xl--line-height));
}

.text-2xl {
  font-size: var(--text-2xl);
  line-height: var(--tw-leading, var(--text-2xl--line-height));
}

.gg-body .text-2xl-quote {
  font-size: var(--text-2xl);
  line-height: var(--tw-leading, var(--text-2xl--line-height));
  margin-bottom: 10px;
}
.twitter-tweet-wrapper .twitter-tweet,
.twitter-tweet-wrapper iframe,
.twitter-tweet-wrapper iframe article,
.twitter-tweet-wrapper iframe div,
.twitter-tweet-wrapper iframe div div,
.twitter-tweet-wrapper iframe div div div {
  max-width: 100% !important;
  width: 100% !important;
}

.uk-dotnav>*>:hover,
.uk-dotnav>*>:active,
.uk-dotnav>.uk-active>* {
    background-color: var(--acme-x-one);
    border-color: transparent
}

.uk-dotnav>*>* {
    border: 1px solid var(--acme-x-one);
}

.uk-lightbox {
  background:  var(--background);
}