body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

// .title-block {
// 	&::after {
// 		content: "";
// 		width: 100%;
// 		height: 5px;
// 	}
// }

h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 1;
}

main {
  font-size: 1rem;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

.uk-article-meta {
  font-size: 0.9rem;
}

.o-font-10 {
  font-size: 1rem;
}

.gg-body {
	font-size: 1.2rem;
	h2,
	h3,
	h4 {
		margin-bottom: 25px;
		margin-top: 0;
		&:first-child {
			margin-top: 0;
		}
	}
	h2 {
		font-size: 3.3rem;
		font-weight: 900;
	}
	h3 {
		font-size: 2.7rem;
	}
	h4 {
		font-size: 2.3rem;
	}
	h5 {
		font-size: 1.8rem;
	}
	blockquote {
		border-left: 10px solid;
		padding-left: 20px;
		&:has(+ p) + p.text-sm {
			border-left: 2px solid;
			padding-left: 35px;
			margin-left: 8px;
		}
	}
	blockquote {
		> p {
			&:last-child {
				margin-bottom: 5px;
			}
		}
	}
	.prgh,
	p {
		margin-bottom: 25px;
	}
	blockquote,
	ul,
	ol,
	p,
	div,
	a {
		&:has(+ h2),
		&:has(+ h3),
		&:has(+ h4),
		&:has(+ h5),
		&:has(+ h6) {
			margin-bottom: 85px;
		}
	}
	a {
    text-decoration: underline;
		&[target="_blank"] {
			font-weight: 500;
			color: var(--acme-x-one);
			&::after {
				font-family: 'game' !important;
				content: "\e973";
				margin-left: 3px;
			}
		}
		&:hover {
			color: var(--acme-x-one-hover);
		}
	}
}
