$sizes:1,2,3,4,5,6,7,8,9,10;


.plchr-i {
  background-color: rgba(193, 193, 193, 0.5);
	@each $size in $sizes {
		&.plchr-h-#{$size} {
			height: #{$size * 2}px;
		}
	}
  @each $size in $sizes {
		&.plchr-w-#{$size} {
			width: #{$size * 10%};
		}
	}
}

.dark {
  .plchr-i {
    background-color: rgba(43, 43, 43, 0.736);
  }
}