.h1 {
  font-size: 4.4rem;
}
.h2 {
  font-size: 3rem;
}
.h3 {
  font-size: 2.6rem;
}
.h5 {
  font-size: 2.2rem;
}
.h6 {
  font-size: 1.8rem;
}

.typography {
  p {
    font-size: var(--text-base);
  }
  img {
    border-radius: var(--radius-lg);
  }
}
